/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
    line-height: 1.6;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #111;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00adb5;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.hero span {
    color: #00adb5;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00adb5;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 100px 10%;
}

/* Skills */
.skill {
    margin-bottom: 20px;
}

.progress {
    background: #333;
    height: 8px;
    border-radius: 5px;
}

.progress div {
    height: 8px;
    background: #00adb5;
    border-radius: 5px;
}

/* Projects */
.project-card {
    background: #1a1a1a;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
}

@media(max-width:768px){
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .hero {
        padding-left: 5%;
    }
}