html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1b1410, #2a1f19);
    color: #f5e6d3;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(27, 20, 16, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #c19a6b;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #f5e6d3;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #e0b97f;
}

/* Hero Layout */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
    min-height: 90vh;
    margin-top: 80px;
}

.hero-left h4 {
    color: #e0b97f;
    font-size: 18px;
}

.hero-left h1 {
    font-size: 60px;
    margin: 10px 0;
    line-height: 1.1;
}

.hero-left h3 {
    font-size: 24px;
    background: linear-gradient(to right, #c19a6b, #e0b97f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-left p {
    margin: 20px 0;
    max-width: 500px;
    line-height: 1.6;
    color: #d8c3a5;
}

/* Buttons */
.hero-buttons {
    margin-top: 20px;
}

.btn {
    padding: 12px 25px;
    margin-right: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.hero-right {
    position: relative;
}

.hero-right::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    background: radial-gradient(circle, rgba(193,154,107,0.4) 0%, transparent 70%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary {
    background-color: #c19a6b;
    color: #1b1410;
    border: none;
}

.primary:hover {
    background-color: #e0b97f;
}

.outline {
    background: transparent;
    border: 2px solid #c19a6b;
    color: #c19a6b;
}

.outline:hover {
    background-color: #c19a6b;
    color: #1b1410;
}

/* Image Circle */
.image-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 10px;
    background: linear-gradient(145deg, #c19a6b, #2a1f19);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(193, 154, 107, 0.4);
}

.image-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

section {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}